In [125]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from gensim.models.word2vec import Word2Vec

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.metrics import confusion_matrix, plot_confusion_matrix, plot_roc_curve, roc_auc_score, recall_score, accuracy_score
from sklearn.linear_model import LogisticRegressionCV
from sklearn.ensemble import AdaBoostClassifier

In [ ]:
df = pd.read_csv('./temp_prec/city_info.csv')

In [ ]:
df.head()

In [ ]:
cities=df['Name'].unique()

In [ ]:
ids= df['ID'].unique()

In [ ]:
dic = dict(zip(ids, cities))

In [ ]:
df2 = pd.DataFrame()

for i , city in dic.items():
    df= pd.read_csv(f'./temp_prec/{i}.csv')
    df['City']=city
    df_total=pd.merge(df,df2,how='outer')

In [ ]:
df.shape

In [ ]:
df_total.head(20)

In [100]:
drought=pd.read_csv('./drought/dr.csv',decimal=".",sep=',')

In [101]:
drought.head()

,MapDate,Region,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,ClimateDivisionsID
0,20211214,Central,0.00,0.00,0.00,"1,057.49","7,663.36","13,493.12",2021-12-14,2021-12-20,2,2404
1,20211214,Central,"2,607.81","4,372.41",0.00,0.00,0.00,0.00,2021-12-14,2021-12-20,2,4604
2,20211214,Cheyenne & Niobrara Drainage,0.00,"1,848.56","4,515.72",981.97,0.00,0.00,2021-12-14,2021-12-20,2,4807
3,20211214,East Central,115.62,"5,459.76",0.00,0.00,0.00,0.00,2021-12-14,2021-12-20,2,3206
4,20211214,Extreme Southern,0.00,0.00,0.00,"2,841.68","5,553.79","1,586.81",2021-12-14,2021-12-20,2,2604

In [102]:
drought.describe()

            MapDate  StatisticFormatID  ClimateDivisionsID
count  4.091220e+05           409122.0       409122.000000
mean   2.010548e+07                2.0         2578.904762
std    6.334369e+04                0.0         1439.873316
min    2.000010e+07                2.0          101.000000
25%    2.005063e+07                2.0         1305.000000
50%    2.010122e+07                2.0         2508.000000
75%    2.016062e+07                2.0         3805.000000
max    2.021121e+07                2.0         4913.000000

In [103]:
drought.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409122 entries, 0 to 409121
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   MapDate             409122 non-null  int64
 1   Region              409122 non-null  object
 2   None                409122 non-null  object
 3   D0                  409122 non-null  object
 4   D1                  409122 non-null  object
 5   D2                  409122 non-null  object
 6   D3                  409122 non-null  object
 7   D4                  409122 non-null  object
 8   ValidStart          409122 non-null  object
 9   ValidEnd            409122 non-null  object
 10  StatisticFormatID   409122 non-null  int64
 11  ClimateDivisionsID  409122 non-null  int64
dtypes: int64(3), object(9)
memory usage: 37.5+ MB

In [104]:
drought['None'] = drought['None'].str.replace(",", "").astype(float)
drought['D0'] = drought['D0'].str.replace(",", "").astype(float)
drought['D1'] = drought['D1'].str.replace(",", "").astype(float)
drought['D2'] = drought['D2'].str.replace(",", "").astype(float)
drought['D3'] = drought['D3'].str.replace(",", "").astype(float)
drought['D4'] = drought['D4'].str.replace(",", "").astype(float)

In [105]:
drought['ValidStart']= pd.to_datetime(drought['ValidStart'])
drought['ValidEnd']= pd.to_datetime(drought['ValidEnd'])

In [106]:
drought.isnull().sum()

MapDate               0
Region                0
None                  0
D0                    0
D1                    0
D2                    0
D3                    0
D4                    0
ValidStart            0
ValidEnd              0
StatisticFormatID     0
ClimateDivisionsID    0
dtype: int64

In [117]:
drought=drought.drop(['ValidEnd','ValidStart'],axis=1)

In [118]:
drought.columns

Index(['MapDate', 'None', 'D0', 'D1', 'D2', 'D3', 'D4', 'StatisticFormatID',
       'ClimateDivisionsID', 'Region_All',
       ...
       'Region_West Olympic Coast', 'Region_West Ozarks',
       'Region_West Southwest', 'Region_West Upper', 'Region_Western',
       'Region_Western Piedmont', 'Region_Western Plateau',
       'Region_Willamette Valley', 'Region_Wind River',
       'Region_Yellowstone Drainage'],
      dtype='object', length=180)

In [119]:
drought=pd.get_dummies(drought,'Region',drop_first=True)

In [120]:
drought.shape

(409122, 180)

In [121]:

X=drought.drop('D0',axis=1)
y=drought['D0']

In [122]:
X_train, X_val, y_train, y_val = train_test_split(X,
                                                    y,
                                                    random_state=42,
                                                    )

In [123]:
rf=RandomForestRegressor()

In [124]:
rf.fit(X_train, y_train)

RandomForestRegressor()

In [127]:
rf.score(X_train, y_train)

0.9963730786370225

In [ ]:
drought=pd.read_csv('./drought/dr.csv',decimal=".",sep=',')

In [171]:
df_wes =pd.read_csv('./drought/westerm.csv',decimal=".",sep=',')

In [172]:
df_wes['None'] = df_wes['None'].str.replace(",", "").astype(float)
df_wes['D0'] = df_wes['D0'].str.replace(",", "").astype(float)
df_wes['D1'] = df_wes['D1'].str.replace(",", "").astype(float)
df_wes['D2'] = df_wes['D2'].str.replace(",", "").astype(float)
df_wes['D3'] = df_wes['D3'].str.replace(",", "").astype(float)
df_wes['D4'] = df_wes['D4'].str.replace(",", "").astype(float)

In [173]:
df_wes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MapDate             1044 non-null   int64
 1   Region              1044 non-null   object
 2   None                1044 non-null   float64
 3   D0                  1044 non-null   float64
 4   D1                  1044 non-null   float64
 5   D2                  1044 non-null   float64
 6   D3                  1044 non-null   float64
 7   D4                  1044 non-null   float64
 8   ValidStart          1044 non-null   object
 9   ValidEnd            1044 non-null   object
 10  StatisticFormatID   1044 non-null   int64
 11  ClimateDivisionsID  1044 non-null   int64
dtypes: float64(6), int64(3), object(3)
memory usage: 98.0+ KB

In [174]:
df_wes['no_drought']=df_wes['None']

In [175]:
df_wes['area_Drought']=df_wes['D0']+df_wes['D1']+df_wes['D2']+df_wes['D3']+df_wes['D4']

In [179]:
df_wes.head(50)

,MapDate,Region,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,ClimateDivisionsID,no_drought,area_Drought,is_in_drought
0,20211214,Western,0.00,0.00,15121.37,3482.23,4908.56,911.29,2021-12-14,2021-12-20,2,2401,0.00,24423.45,1
1,20211207,Western,0.00,0.00,10560.59,6605.00,6335.84,922.02,2021-12-07,2021-12-13,2,2401,0.00,24423.45,1
2,20211130,Western,0.00,0.00,10560.59,8570.23,4370.61,922.02,2021-11-30,2021-12-06,2,2401,0.00,24423.45,1
3,20211123,Western,0.00,0.00,10560.59,8570.23,4370.61,922.02,2021-11-23,2021-11-29,2,2401,0.00,24423.45,1
4,20211116,Western,0.00,0.00,10560.59,8570.23,4370.61,922.02,2021-11-16,2021-11-22,2,2401,0.00,24423.45,1
5,20211109,Western,0.00,0.00,0.00,19130.83,4053.12,1239.51,2021-11-09,2021-11-15,2,2401,0.00,24423.46,1
6,20211102,Western,0.00,0.00,0.00,19130.83,4053.12,1239.51,2021-11-02,2021-11-08,2,2401,0.00,24423.46,1
7,20211026,Western,0.00,0.00,0.00,18295.91,4879.45,1248.10,2021-10-26,2021-11-01,2,2401,0.00,24423.46,1
8,20211019,Western,0.00,0.00,0.00,18343.36,5506.62,573.48,2021-10-19,2021-10-25,2,2401,0.00,24423.46,1
9,20211012,Western,0.00,0.00,0.00,19752.82,4097.16,573.48,2021-10-12,2021-10-18,2,2401,0.00,24423.46,1
10,20211005,Western,0.00,0.00,0.00,19752.82,4097.16,573.48,2021-10-05,2021-10-11,2,2401,0.00,24423.46,1
11,20210928,Western,0.00,0.00,0.00,21443.04,2406.93,573.48,2021-09-28,2021-10-04,2,2401,0.00,24423.45,1
12,20210921,Western,0.00,0.00,0.00,21443.04,2980.41,0.00,2021-09-21,2021-09-27,2,2401,0.00,24423.45,1
13,20210914,Western,0.00,0.00,0.00,16983.43,7440.02,0.00,2021-09-14,2021-09-20,2,2401,0.00,24423.45,1
14,20210907,Western,0.00,0.00,0.00,16983.43,7413.06,26.96,2021-09-07,2021-09-13,2,2401,0.00,24423.45,1
15,20210831,Western,0.00,0.00,0.00,16983.43,7413.06,26.96,2021-08-31,2021-09-06,2,2401,0.00,24423.45,1
16,20210824,Western,0.00,0.00,0.00,16324.22,8072.28,26.96,2021-08-24,2021-08-30,2,2401,0.00,24423.46,1
17,20210817,Western,0.00,0.00,0.00,16324.22,8072.28,26.96,2021-08-17,2021-08-23,2,2401,0.00,24423.46,1
18,20210810,Western,0.00,0.00,0.00,16973.22,7423.28,26.96,2021-08-10,2021-08-16,2,2401,0.00,24423.46,1
19,20210803,Western,0.00,0.00,0.00,16970.80,7452.65,0.00,2021-08-03,2021-08-09,2,2401,0.00,24423.45,1
20,20210727,Western,0.00,0.00,13506.25,9959.05,958.15,0.00,2021-07-27,2021-08-02,2,2401,0.00,24423.45,1
21,20210720,Western,0.00,199.98,13306.27,10170.35,746.85,0.00,2021-07-20,2021-07-26,2,2401,0.00,24423.45,1
22,20210713,Western,0.00,2206.16,17186.95,5030.34,0.00,0.00,2021-07-13,2021-07-19,2,2401,0.00,24423.45,1
23,20210706,Western,0.00,12603.87,11216.53,603.05,0.00,0.00,2021-07-06,2021-07-12,2,2401,0.00,24423.45,1
24,20210629,Western,6345.87,9733.17,7779.69,564.72,0.00,0.00,2021-06-29,2021-07-05,2,2401,6345.87,18077.58,0
25,20210622,Western,7286.30,12602.69,4031.37,503.09,0.00,0.00,2021-06-22,2021-06-28,2,2401,7286.30,17137.15,0
26,20210615,Western,7286.30,13848.74,2779.19,509.22,0.00,0.00,2021-06-15,2021-06-21,2,2401,7286.30,17137.15,0
27,20210608,Western,6811.66,14323.39,2779.19,509.22,0.00,0.00,2021-06-08,2021-06-14,2,2401,6811.66,17611.80,0
28,20210601,Western,8041.74,13377.42,3004.30,0.00,0.00,0.00,2021-06-01,2021-06-07,2,2401,8041.74,16381.72,0
29,20210525,Western,6439.69,10375.88,7607.88,0.00,0.00,0.00,2021-05-25,2021-05-31,2,2401,6439.69,17983.76,0
30,20210518,Western,5205.83,7823.52,11394.11,0.00,0.00,0.00,2021-05-18,2021-05-24,2,2401,5205.83,19217.63,0
31,20210511,Western,5205.83,7823.52,11394.11,0.00,0.00,0.00,2021-05-11,2021-05-17,2,2401,5205.83,19217.63,0
32,20210504,Western,5205.83,7835.66,11381.97,0.00,0.00,0.00,2021-05-04,2021-05-10,2,2401,5205.83,19217.63,0
33,20210427,Western,5180.99,9194.78,10047.68,0.00,0.00,0.00,2021-04-27,2021-05-03,2,2401,5180.99,19242.46,0
34,20210420,Western,5188.76,9187.01,10047.68,0.00,0.00,0.00,2021-04-20,2021-04-26,2,2401,5188.76,19234.69,0
35,20210413,Western,11159.85,13263.61,0.00,0.00,0.00,0.00,2021-04-13,2021-04-19,2,2401,11159.85,13263.61,0
36,20210406,Western,16929.85,7493.61,0.00,0.00,0.00,0.00,2021-04-06,2021-04-12,2,2401,16929.85,7493.61,0
37,20210330,Western,17059.48,7363.97,0.00,0.00,0.00,0.00,2021-03-30,2021-04-05,2,2401,17059.48,7363.97,0
38,20210323,Western,21532.93,2890.53,0.00,0.00,0.00,0.00,2021-03-23,2021-03-29,2,2401,21532.93,2890.53,0
39,20210316,Western,21621.93,2801.53,0.00,0.00,0.00,0.00,2021-03-16,2021-03-22,2,2401,21621.93,2801.53,0
40,20210309,Western,21553.02,2870.43,0.00,0.00,0.00,0.00,2021-03-09,2021-03-15,2,2401,21553.02,2870.43,0
41,20210302,Western,21553.02,2757.71,112.72,0.00,0.00,0.00,2021-03-02,2021-03-08,2,2401,21553.02,2870.43,0
42,20210223,Western,4354.47,19956.26,112.72,0.00,0.00,0.00,2021-02-23,2021-03-01,2,2401,4354.47,20068.98,0
43,20210216,Western,4354.47,19956.26,112.72,0.00,0.00,0.00,2021-02-16,2021-02-22,2,2401,4354.47,20068.98,0
44,20210209,Western,4354.47,19956.26,112.72,0.00,0.00,0.00,2021-02-09,2021-02-15,2,2401,4354.47,20068.98,0
45,20210202,Western,4354.47,19956.26,112.72,0.00,0.00,0.00,2021-02-02,2021-02-08,2,2401,4354.47,20068.98,0
46,20210126,Western,18396.02,5914.72,112.72,0.00,0.00,0.00,2021-01-26,2021-02-01,2,2401,18396.02,6027.44,0
47,20210119,Western,23766.64,656.81,0.00,0.00,0.00,0.00,2021-01-19,2021-01-25,2,2401,23766.64,656.81,0
48,20210112,Western,23833.66,589.79,0.00,0.00,0.00,0.00,2021-01-12,2021-01-18,2,2401,23833.66,589.79,0
49,20210105,Western,24335.23,88.23,0.00,0.00,0.00,0.00,2021-01-05,2021-01-11,2,2401,24335.23,88.23,0

In [177]:
df_wes['is_in_drought']=df_wes['no_drought'].map(lambda x: 1 if x==0 else 0)

In [178]:
df_wes['is_in_drought'].value_counts(normalize=True)

0    0.766284
1    0.233716
Name: is_in_drought, dtype: float64