In [251]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### drought

In [252]:
# dataset of drought by population and area
populat_grought = pd.read_csv('./data/population.csv')
area_drought = pd.read_csv('./data/areas.csv')

In [255]:
#changing names columns to merge them
populat_grought['population_none']=populat_grought['None']
populat_grought['population_d0']=populat_grought['D0']
populat_grought['population_d1']=populat_grought['D1']
populat_grought['population_d2']=populat_grought['D2']
populat_grought['population_d3']=populat_grought['D3']
populat_grought['population_d4']=populat_grought['D4']

#droping columns duplicated 
populat_grought.drop(populat_grought.iloc[:, :11], inplace = True, axis = 1)

populat_grought.head()

,population_none,population_d0,population_d1,population_d2,population_d3,population_d4
0,"709,629.99",0.00,0.00,0.00,0.00,0.00
1,"709,629.99",0.00,0.00,0.00,0.00,0.00
2,"709,629.99",0.00,0.00,0.00,0.00,0.00
3,"709,629.99",0.00,0.00,0.00,0.00,0.00
4,"709,629.99",0.00,0.00,0.00,0.00,0.00

In [257]:
# Merging the 2 dataframes

drought_cities = pd.concat([area_drought, populat_grought], axis=1)

drought_cities.head()

,MapDate,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID,population_none,population_d0,population_d1,population_d2,population_d3,population_d4
0,20211207,AK,"582,568.29",0.00,0.00,0.00,0.00,0.00,2021-12-07,2021-12-13,2,"709,629.99",0.00,0.00,0.00,0.00,0.00
1,20211130,AK,"582,568.29",0.00,0.00,0.00,0.00,0.00,2021-11-30,2021-12-06,2,"709,629.99",0.00,0.00,0.00,0.00,0.00
2,20211123,AK,"582,568.29",0.00,0.00,0.00,0.00,0.00,2021-11-23,2021-11-29,2,"709,629.99",0.00,0.00,0.00,0.00,0.00
3,20211116,AK,"582,568.29",0.00,0.00,0.00,0.00,0.00,2021-11-16,2021-11-22,2,"709,629.99",0.00,0.00,0.00,0.00,0.00
4,20211109,AK,"582,568.29",0.00,0.00,0.00,0.00,0.00,2021-11-09,2021-11-15,2,"709,629.99",0.00,0.00,0.00,0.00,0.00

In [258]:
#Change the numbers on float

drought_cities['None'] = drought_cities['None'].str.replace(",", "").astype(float)
drought_cities['D0'] = drought_cities['D0'].str.replace(",", "").astype(float)
drought_cities['D1'] = drought_cities['D1'].str.replace(",", "").astype(float)
drought_cities['D2'] = drought_cities['D2'].str.replace(",", "").astype(float)
drought_cities['D3'] = drought_cities['D3'].str.replace(",", "").astype(float)
drought_cities['D4'] = drought_cities['D4'].str.replace(",", "").astype(float)

drought_cities['population_none'] = drought_cities['population_none'].str.replace(",", "").astype(float)
drought_cities['population_d0'] = drought_cities['population_d0'].str.replace(",", "").astype(float)
drought_cities['population_d1'] = drought_cities['population_d1'].str.replace(",", "").astype(float)
drought_cities['population_d2'] = drought_cities['population_d2'].str.replace(",", "").astype(float)
drought_cities['population_d3'] = drought_cities['population_d3'].str.replace(",", "").astype(float)
drought_cities['population_d4'] = drought_cities['population_d4'].str.replace(",", "").astype(float)

In [259]:
#changing the format of the time
drought_cities['ValidStart']= pd.to_datetime(drought_cities['ValidStart'])
drought_cities['ValidStart'] = drought_cities['ValidStart'].dt.strftime('%m/%d/%Y')

drought_cities['ValidEnd']= pd.to_datetime(drought_cities['ValidEnd'])
drought_cities['ValidEnd'] = drought_cities['ValidEnd'].dt.strftime('%m/%d/%Y')

In [260]:
drought_cities.drop(columns=['MapDate','StatisticFormatID'],axis=1,inplace=True)

In [261]:
drought_cities.head()

,StateAbbreviation,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,population_none,population_d0,population_d1,population_d2,population_d3,population_d4
0,AK,582568.29,0.0,0.0,0.0,0.0,0.0,12/07/2021,12/13/2021,709629.99,0.0,0.0,0.0,0.0,0.0
1,AK,582568.29,0.0,0.0,0.0,0.0,0.0,11/30/2021,12/06/2021,709629.99,0.0,0.0,0.0,0.0,0.0
2,AK,582568.29,0.0,0.0,0.0,0.0,0.0,11/23/2021,11/29/2021,709629.99,0.0,0.0,0.0,0.0,0.0
3,AK,582568.29,0.0,0.0,0.0,0.0,0.0,11/16/2021,11/22/2021,709629.99,0.0,0.0,0.0,0.0,0.0
4,AK,582568.29,0.0,0.0,0.0,0.0,0.0,11/09/2021,11/15/2021,709629.99,0.0,0.0,0.0,0.0,0.0

In [262]:
drought_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56888 entries, 0 to 56887
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StateAbbreviation  56888 non-null  object
 1   None               56888 non-null  float64
 2   D0                 56888 non-null  float64
 3   D1                 56888 non-null  float64
 4   D2                 56888 non-null  float64
 5   D3                 56888 non-null  float64
 6   D4                 56888 non-null  float64
 7   ValidStart         56888 non-null  object
 8   ValidEnd           56888 non-null  object
 9   population_none    56888 non-null  float64
 10  population_d0      56888 non-null  float64
 11  population_d1      56888 non-null  float64
 12  population_d2      56888 non-null  float64
 13  population_d3      56888 non-null  float64
 14  population_d4      56888 non-null  float64
dtypes: float64(12), object(3)
memory usage: 6.5+ MB

In [263]:
drought_cities['StateAbbreviation'].unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [264]:
drought_cities.columns

Index(['StateAbbreviation', 'None', 'D0', 'D1', 'D2', 'D3', 'D4', 'ValidStart',
       'ValidEnd', 'population_none', 'population_d0', 'population_d1',
       'population_d2', 'population_d3', 'population_d4'],
      dtype='object')

In [265]:
# rename the columns

drought_cities.rename(columns={'StateAbbreviation':'state','None':'area_none','D0':'area_d0','D1':'area_d1','D2':'area_d2','D3':'area_d3','D4':'area_d4'},inplace=True)


# Organize the columns

drought_cities=drought_cities[['state','ValidStart', 'ValidEnd','area_none', 'area_d0', 'area_d1', 'area_d2', 'area_d3','area_d4','population_none', 'population_d0',
       'population_d1', 'population_d2', 'population_d3', 'population_d4']]

# creating new columns adding the columns total_area and total population

drought_cities['total_area']=drought_cities['area_none']+drought_cities['area_d0']+drought_cities['area_d1']+drought_cities['area_d2']+drought_cities['area_d3']+drought_cities['area_d4']
drought_cities['total_population']=drought_cities['population_none']+drought_cities['population_d0']+drought_cities['population_d1']+drought_cities['population_d2']+drought_cities['population_d3']+drought_cities['population_d4']

In [281]:
drought_cities.head(55)

,state,ValidStart,ValidEnd,area_none,area_d0,area_d1,area_d2,area_d3,area_d4,population_none,population_d0,population_d1,population_d2,population_d3,population_d4,total_area,total_population
0,AK,12/07/2021,12/13/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
1,AK,11/30/2021,12/06/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
2,AK,11/23/2021,11/29/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
3,AK,11/16/2021,11/22/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
4,AK,11/09/2021,11/15/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
5,AK,11/02/2021,11/08/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
6,AK,10/26/2021,11/01/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
7,AK,10/19/2021,10/25/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
8,AK,10/12/2021,10/18/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
9,AK,10/05/2021,10/11/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
10,AK,09/28/2021,10/04/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
11,AK,09/21/2021,09/27/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
12,AK,09/14/2021,09/20/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
13,AK,09/07/2021,09/13/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
14,AK,08/31/2021,09/06/2021,582568.29,0.00,0.00,0.0,0.0,0.0,709629.99,0.00,0.00,0.0,0.0,0.0,582568.29,709629.99
15,AK,08/24/2021,08/30/2021,508242.39,74325.90,0.00,0.0,0.0,0.0,316871.05,392758.94,0.00,0.0,0.0,0.0,582568.29,709629.99
16,AK,08/17/2021,08/23/2021,467130.92,87171.34,28266.03,0.0,0.0,0.0,284080.84,378439.81,47109.34,0.0,0.0,0.0,582568.29,709629.99
17,AK,08/10/2021,08/16/2021,467130.92,87171.34,28266.03,0.0,0.0,0.0,284080.84,378439.81,47109.34,0.0,0.0,0.0,582568.29,709629.99
18,AK,08/03/2021,08/09/2021,445882.47,92839.25,43846.57,0.0,0.0,0.0,260385.85,417449.94,31794.20,0.0,0.0,0.0,582568.29,709629.99
19,AK,07/27/2021,08/02/2021,419533.14,129227.57,33807.58,0.0,0.0,0.0,250214.82,422065.65,37349.52,0.0,0.0,0.0,582568.29,709629.99
20,AK,07/20/2021,07/26/2021,412258.58,123512.13,46797.58,0.0,0.0,0.0,239854.22,366641.40,103134.37,0.0,0.0,0.0,582568.29,709629.99
21,AK,07/13/2021,07/19/2021,433133.18,149435.11,0.00,0.0,0.0,0.0,240644.16,468985.84,0.00,0.0,0.0,0.0,582568.29,709630.00
22,AK,07/06/2021,07/12/2021,433133.18,149435.11,0.00,0.0,0.0,0.0,240644.16,468985.84,0.00,0.0,0.0,0.0,582568.29,709630.00
23,AK,06/29/2021,07/05/2021,500539.66,82028.63,0.00,0.0,0.0,0.0,702217.65,7412.34,0.00,0.0,0.0,0.0,582568.29,709629.99
24,AK,06/22/2021,06/28/2021,500539.66,82028.63,0.00,0.0,0.0,0.0,702217.65,7412.34,0.00,0.0,0.0,0.0,582568.29,709629.99
25,AK,06/15/2021,06/21/2021,500539.66,82028.63,0.00,0.0,0.0,0.0,702217.65,7412.34,0.00,0.0,0.0,0.0,582568.29,709629.99
26,AK,06/08/2021,06/14/2021,500539.66,82028.63,0.00,0.0,0.0,0.0,702217.65,7412.34,0.00,0.0,0.0,0.0,582568.29,709629.99
27,AK,06/01/2021,06/07/2021,461993.45,120574.84,0.00,0.0,0.0,0.0,699664.77,9965.22,0.00,0.0,0.0,0.0,582568.29,709629.99
28,AK,05/25/2021,05/31/2021,461993.45,120574.84,0.00,0.0,0.0,0.0,699664.77,9965.22,0.00,0.0,0.0,0.0,582568.29,709629.99
29,AK,05/18/2021,05/24/2021,461993.45,120574.84,0.00,0.0,0.0,0.0,699664.77,9965.22,0.00,0.0,0.0,0.0,582568.29,709629.99
30,AK,05/11/2021,05/17/2021,461993.45,120574.84,0.00,0.0,0.0,0.0,699664.77,9965.22,0.00,0.0,0.0,0.0,582568.29,709629.99
31,AK,05/04/2021,05/10/2021,461993.45,120574.84,0.00,0.0,0.0,0.0,699664.77,9965.22,0.00,0.0,0.0,0.0,582568.29,709629.99
32,AK,04/27/2021,05/03/2021,461993.45,120574.84,0.00,0.0,0.0,0.0,699664.77,9965.22,0.00,0.0,0.0,0.0,582568.29,709629.99
33,AK,04/20/2021,04/26/2021,461993.45,120574.84,0.00,0.0,0.0,0.0,699664.77,9965.22,0.00,0.0,0.0,0.0,582568.29,709629.99
34,AK,04/13/2021,04/19/2021,461993.45,120574.84,0.00,0.0,0.0,0.0,699664.77,9965.22,0.00,0.0,0.0,0.0,582568.29,709629.99
35,AK,04/06/2021,04/12/2021,413010.13,169558.16,0.00,0.0,0.0,0.0,691449.94,18180.05,0.00,0.0,0.0,0.0,582568.29,709629.99
36,AK,03/30/2021,04/05/2021,380607.81,201960.48,0.00,0.0,0.0,0.0,668538.92,41091.07,0.00,0.0,0.0,0.0,582568.29,709629.99
37,AK,03/23/2021,03/29/2021,380607.81,201960.48,0.00,0.0,0.0,0.0,668538.92,41091.07,0.00,0.0,0.0,0.0,582568.29,709629.99
38,AK,03/16/2021,03/22/2021,380607.81,201960.48,0.00,0.0,0.0,0.0,668538.92,41091.07,0.00,0.0,0.0,0.0,582568.29,709629.99
39,AK,03/09/2021,03/15/2021,380607.81,201960.48,0.00,0.0,0.0,0.0,668538.92,41091.07,0.00,0.0,0.0,0.0,582568.29,709629.99
40,AK,03/02/2021,03/08/2021,459066.75,123501.54,0.00,0.0,0.0,0.0,675872.05,33757.94,0.00,0.0,0.0,0.0,582568.29,709629.99
41,AK,02/23/2021,03/01/2021,474664.89,107903.39,0.00,0.0,0.0,0.0,598074.69,111555.31,0.00,0.0,0.0,0.0,582568.28,709630.00
42,AK,02/16/2021,02/22/2021,474664.89,107903.39,0.00,0.0,0.0,0.0,598074.69,111555.31,0.00,0.0,0.0,0.0,582568.28,709630.00
43,AK,02/09/2021,02/15/2021,474664.89,107903.39,0.00,0.0,0.0,0.0,598074.69,111555.31,0.00,0.0,0.0,0.0,582568.28,709630.00
44,AK,02/02/2021,02/08/2021,469523.28,113045.01,0.00,0.0,0.0,0.0,595921.33,113708.67,0.00,0.0,0.0,0.0,582568.29,709630.00
45,AK,01/26/2021,02/01/2021,489505.15,93063.14,0.00,0.0,0.0,0.0,684455.13,25174.87,0.00,0.0,0.0,0.0,582568.29,709630.00
46,AK,01/19/2021,01/25/2021,489505.15,93063.14,0.00,0.0,0.0,0.0,684455.13,25174.87,0.00,0.0,0.0,0.0,582568.29,709630.00
47,AK,01/12/2021,01/18/2021,489505.15,93063.14,0.00,0.0,0.0,0.0,684455.13,25174.87,0.00,0.0,0.0,0.0,582568.29,709630.00
48,AK,01/05/2021,01/11/2021,532707.03,49861.26,0.00,0.0,0.0,0.0,690049.92,19580.07,0.00,0.0,0.0,0.0,582568.29,709629.99
49,AK,12/29/2020,01/04/2021,532707.03,49861.26,0.00,0.0,0.0,0.0,690049.92,19580.07,0.00,0.0,0.0,0.0,582568.29,709629.99
50,AK,12/22/2020,12/28/2020,532707.03,49861.26,0.00,0.0,0.0,0.0,690049.92,19580.07,0.00,0.0,0.0,0.0,582568.29,709629.99
51,AK,12/15/2020,12/21/2020,517815.00,64753.29,0.00,0.0,0.0,0.0,689487.16,20142.84,0.00,0.0,0.0,0.0,582568.29,709630.00
52,AK,12/08/2020,12/14/2020,517815.00,64753.29,0.00,0.0,0.0,0.0,689487.16,20142.84,0.00,0.0,0.0,0.0,582568.29,709630.00
53,AK,12/01/2020,12/07/2020,517831.12,64737.17,0.00,0.0,0.0,0.0,460520.82,249109.17,0.00,0.0,0.0,0.0,582568.29,709629.99
54,AK,11/24/2020,11/30/2020,517831.12,64737.17,0.00,0.0,0.0,0.0,460520.82,249109.17,0.00,0.0,0.0,0.0,582568.29,709629.99

In [282]:
drought_cities.shape

(56888, 17)

In [267]:
#checking how many day have a state

drought_cities['state'].value_counts()

OR    1094
IL    1094
PR    1094
LA    1094
ME    1094
DC    1094
AZ    1094
RI    1094
NJ    1094
KY    1094
HI    1094
SC    1094
TX    1094
WY    1094
OK    1094
OH    1094
KS    1094
MS    1094
MD    1094
MT    1094
WV    1094
PA    1094
GA    1094
ND    1094
CT    1094
NC    1094
CA    1094
MA    1094
MI    1094
UT    1094
WI    1094
VT    1094
NE    1094
VA    1094
CO    1094
WA    1094
DE    1094
ID    1094
FL    1094
NY    1094
NH    1094
AR    1094
IN    1094
AL    1094
NM    1094
AK    1094
SD    1094
MO    1094
MN    1094
IA    1094
TN    1094
NV    1094
Name: state, dtype: int64